---
extends: default

ignore: |
  pnpm-lock.yaml
  node_modules/
  dist/
  build/

rules:
  line-length:
    max: 120
    level: warning
  document-start:
    present: true
  comments:
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: true
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
